{{ define "main" }}
<article>
<div class="row justify-content-center">
  <div class="col-md-12 col-lg-10">
    <div class="blog-header">
      <h1>{{ .Title }}</h1>
    </div>
  </div>
  {{ $image := .Resources.GetMatch (printf "**%s" (index .Params.images 0)) -}}
  {{ if $image -}}
    <div class="col-md-13">
      {{ partial "picture" (dict
      "ctx" .
      "src" $image
      "alt" .Title
      "class" "img-fluid blur-up img-post-single w-100 h-auto rounded-0"
      )}}
    </div>
  {{ end -}}
  <div class="col-md-12 col-lg-9">
    {{ with .Params.summary -}}<p class="lead">{{ . }}</p>{{ end -}}
    {{ .Content }}
    {{ if .Params.tags -}}
    <div class="tag-list-single">
      {{ range $index, $tag := .Params.tags -}}
        <a class="btn btn-light" href="{{ "/tags/" | relLangURL }}{{ . | urlize }}/" role="button">{{ . }}</a>
      {{ end -}}
    </div>
    {{ end -}}
  </div>
</div>
</article>
{{ end }}
